<!DOCTYPE html>
<html>
  <head>
    <title>ReceptorApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <% if flash[:notice] %>
      <div class="bg-green-500 text-white text-center py-2 px-4 rounded">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="bg-red-500 text-white text-center py-2 px-4 rounded">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
  <main class="container mx-auto mt-28 px-5 flex">
    <%= yield %>
  </main>
</body>
</html>
